{% extends "ticket/base.html" %}
{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
            <h1 class="text-light mb-4">About Our Project</h1>
            <p class="text-light">
                Welcome to our project! We are <span class="text-primary">Abolfazl Keshavarz</span> and <span class="text-primary">Ali Mohammadi</span>, passionate developers dedicated to revolutionizing the way you book plane tickets.
            </p>
            <p class="text-light">
                Our project focuses on providing a seamless experience for users to search, compare, and book the best plane tickets effortlessly. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut sodales urna. Sed suscipit elit ac
                I hope You Like It and make it more beautiful with your Ideas :))))
                <a href='{% url "home" %}'>you can return<span class="text-primary"> home</span> with this</a> 
            </p>

        </div>
    </div>
</div>


{% endblock content %}
