{% extends "ticket/base.html" %}
{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
            <h1 class="text-light mb-4">Why US?</h1>
            <p class="text-light">
                 We are <span class="text-warning">Abolfazl Keshavarz</span> and <span class="text-warning">Ali Mohammadi</span>, passionate developers dedicated to revolutionizing the way you book plane tickets.
            </p>
            <p class="text-light">
                Because TurboJet want from Customers to feel Comfortable
                Our Company is new but It can be better!!!
                <a href='{% url "home" %}'>you can return<span class="text-primary"> home</span> with this</a> 
            </p>

        </div>
    </div>
</div>



{% endblock content %}